meta:
- desc: |
   install ceph/squid v19.2.2
tasks:
- install:
    tag: v19.2.2
    exclude_packages:
      - librados3
      - ceph-mgr-dashboard
      - ceph-mgr-diskprediction-local
      - ceph-mgr-rook
      - ceph-mgr-cephadm
      - cephadm
      - ceph-volume
    extra_packages: ['librados2']
- print: "**** done installing squid v19.2.2"
- ceph:
    log-ignorelist:
      - AUTH_INSECURE_KEYS_ALLOWED
      - AUTH_INSECURE_KEYS_CREATABLE
      - AUTH_INSECURE_SERVICE_TICKETS
      - AUTH_INSECURE_CLIENT_KEY_TYPE
      - AUTH_INSECURE_SERVICE_KEY_TYPE
      - AUTH_INSECURE_ROTATING_SERVICE_KEY_TYPE
    conf:
      mon:
        mon_health_to_clog: false
      global:
        mon warn on pool no app: false
- exec:
    osd.0:
      - ceph osd set-require-min-compat-client squid
- print: "**** done ceph"
